audio { width: 80%; }
h1 { text-align: center; font-size: 75px; }
h2 { text-align: center; font-size: 24px; }
pre code { color: #e83e8c; }
.container { margin-top: 30px; }
.show-generic, .show-image, .show-video, .show-audio, .show-text, .show-error { display: none; }
